.table-jordi{
    height:400px;  
    width: 1;
    overflow:scroll;
}
thead tr:nth-child(1) th{
    background: gray;
    position: sticky;
    top: 0;
}

.page-header {
    align-items: center;
}

.page-header h3{
    align-items: center;
    padding-top: 15px;
}

