.test-page-wrapper {
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100vh;
}


.div-buttons{
    position: absolute;
    right:    0;
    bottom:   0;
}

.div-popup{
    position: absolute;
}

.error{
    color: #D8000C;
    background-color: #FFBABA;
}

@media screen and (min-width: 10px) {
    #inner{
        width: 100%;
        height: 50%;
    }
    #inp{
        width: 100%;
    }
}

@media screen and (min-width: 1150px) {
    #inner{
        width: 35%;
        height: 30%;
    }
    #inp{
        width: 100%;
    }
}
.list-group-page-wrapper {
    width: 30%;
    text-align: center;
}
h3.title{
    margin-bottom: 25px;
}
.pointer-item{
    cursor: pointer;
}