.scrollable-table{
    height:400px;  
    width: 1;
    overflow:scroll;
    border: 1px solid black;
}
thead tr:nth-child(1) th{
    background: gray;
    position: sticky;
    top: 0;
}
.pointer-row{
    cursor: pointer;
}
.actions-buttons{
    width:200px;
}