* {
  margin: 0;
  padding: 0;
}

.App {
  /* margin: auto; */
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.react-icons{
  vertical-align: middle;
  height: 1em;
  width: 1em;
}

#root {
    height: 100vh;
}


html, body {
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

.scrollable-content{
  /* height: 100vh;  */
  /* width: 100%; */
  overflow-y:scroll;
  max-width: 100%;
  overflow-x:hidden;
}

.content {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.flex-item {
  flex: 1;
}

.flex-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}


