* {
  margin: 0;
  padding: 0;
}

.App {
  margin: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
}

.react-icons{
  vertical-align: middle;
  height: 1em;
  width: 1em;
}

#root {
    height: 100vh;
}

html, body {
  height: 100%
}